* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.container1 {
  width: 50vw;
  height: 15vh;
  display: flex;
  margin: 2.5rem auto;
  background-color: lightgreen;
  border: .2rem solid lawngreen;
  align-items: center;
  box-shadow: 0px 2px 10px 0px black;
}

#title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.5rem;
  margin-left: 2rem;
}

#title2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.8rem;
  margin-left: 6rem;
}

.container2 {
  width: 50vw;
  height: 75vh;
  display: flex;
  margin: 0 auto;
  color: palevioletred;
  border: .1rem solid red;
  justify-content: center;
}

.title_content {
  font-size: 2.5rem;
  margin: 1.5rem;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.text {
  font-size: 1.8rem;
  margin: 1.5rem 10rem;
  font-family: Arial, Helvetica, sans-serif;
}